.userTypeSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.radioButtons label,
.jobseekerFields label {
  display: block;
  margin: 10px 0;
}

.employerFields input,
.jobseekerFields label {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}

.empnxtButton {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; 
  max-width: 300px;
}

@media (max-width: 600px) {
  .employerFields input,
  .jobseekerFields label {
    width: 100%;
    max-width: 100%;
  }
  
  .empnxtButton {
    width: 100%;
    max-width: 100%;
  }
}
