
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    width: 100%; /* Make the navbar span the full width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Make the navbar fixed at the top */
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
  }
  
  .navItem {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navItem:hover {
    text-decoration: underline;
  }
  