
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2cdcd;
    padding: 10px 20px;
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
  }
  
  .navItem {
    margin-left: 20px;
    color: #9d9797;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navItem:hover {
    text-decoration: underline;
  }
  