body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.pageContainer {
  position: relative;
  width: 1600px;
  height: 100vh;
  background-image: url('../../assets/boardingPagebackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.textOverImage {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  margin-top: 10px;
}

.loginButton, .exploreButton {
  max-width: 150px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loginButton {
  position: fixed;
  top: 20px;
  right: 20px;
}

.loginButton:hover, .exploreButton:hover {
  filter: brightness(80%);
}

.icon {
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .textOverImage {
    padding: 15px;
    max-width: 90%;
  }

  .loginButton, .exploreButton {
    max-width: 130px;
    padding: 8px 16px;
    font-size: 14px;
  }
}
