.relationcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 90%; 
  max-width: 600px; 
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #333;
}

.options {
  margin-bottom: 20px;
  width: 100%;
}

.option {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.option label {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option input {
  margin-right: 10px;
}

.nextbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; 
  max-width: 200px; 
  font-size: 1em;
  transition: background-color 0.3s;
}

.nextbutton:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .heading {
    font-size: 1.2em;
  }

  .option label {
    padding: 8px;
  }

  .nextbutton {
    padding: 8px 16px;
    max-width: 100%; 
  }
}
